<!DOCTYPE html>

<html lang="ja">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="群馬県太田市の企業です。高度技能を持った外国人材の支援事業を中心に">
    <meta name="description" content="群馬県太田市の企業です。高度技能を持った外国人材の支援事業を中心に、洋菓子の製造・販売や人材育成支援事業を行っています。">
    <title>群馬県太田市の企業です。高度技能を持った外国人材の支援事業を中心に、洋菓子の製造・販売や人材育成支援事業を行っています。</title>
    <link rel="alternate" media="only screen and (max-width: 750px)" href="">

    <meta name="viewport" content="width=1200">
    <link href="../assets/img/favicon.ico" rel="shortcut icon">

    <link rel="stylesheet" href="../public/css/app.css">

</head>

<body>

    <main id="wrapper" style="">
        <header id="headerWrap" class="">
            <div id="header">
                <div id="headerTop">
                    <h1 id="headerLogo">
                        <a href="/" title="#">
                            <img src="../assets/img/logo1.png" alt="pafmo group" class="off">
                            <img src="../assets/img/logo1.jpg" alt="pafmo group" class="on">
                        </a>
                    </h1>
                    <div id="headerList">
                        <div id="headerTel">
                            <img src="../assets/img/tel_header_sub2.png" alt="0473-69-7071" class="is-top is-hotline"><strong>0473-69-7071</strong>
                            <img src="../assets/img/tel_header_sub2.png" alt="0473-69-7071" class="is-sub">
                            <span>受付時間：平日9:00～18:00</span>
                        </div>
                        <div id="headerContact">
                            <a href="contact.html" title="#" class="imgHover07"><img src="../assets/img/btn_contact_header.png" alt="採用エントリー・お問い合わせ"></a>
                        </div>
                        <!-- /headerList -->
                    </div>
                </div>
                <nav id="gNavi">
                    <ul class="nav">
                        <li id="gNavi01"><a href="/" class="current">ホーム</a></li>
                        <li id="gNavi02"><a href="page_1.html">人材総合支援事業</a></li>
                        <li id="gNavi03"><a href="page_2.html">食品製造販売事業</a></li>
                        <li id="gNavi05"><a href="page_3.html">会社案内</a></li>
                    </ul>
                    <!-- /gNaviWrap -->
                </nav>
            </div>
            <!-- /headerWrap -->
        </header>
        
        <section class="main_section">
            <section class="pos_top">
                <div class="slider">
                    <div class="items">
                        <a href="#" title="#">
                            <img src="../assets/img/c1.jpg" alt="#" />
                        </a>
                    </div>
                    <div class="items">
                        <a href="#" title="#">
                            <img src="../assets/img/c2.jpg" alt="#" />
                        </a>
                    </div>
                    <div class="items">
                        <a href="#" title="#">
                            <img src="../assets/img/c3.jpg" alt="#" />
                        </a>
                    </div>
                </div>
                <div class="main-visual-sweets__text">
                    <h1 class="main-visual-sweets__title">お問い合わせ<span>CONTACT</span></h1>
                </div>
            </section>
            <div id="breadcrumbList">
                <ul>
                    <li><a href="/" title="#">ホーム</a></li>
                    <li>お問い合わせ</li>
                </ul>
            </div>
            <div id="contents" class="main-contents">
                <div id="informationWrap">
                    <div class="info">
                        <h2><img src="../assets/img/h2_information.png" width="152" height="53" alt="INFORMATION お知らせ"></h2>
                        <div id="feed" class="scroll_pane mCustomScrollbar _mCS_1 mCS_no_scrollbar">
                            <div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" style="max-height: none;" tabindex="0">
                                <div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
                                    <dl>
                                        <dd>
                                            <strong>OTA FACTORY</strong> へのお問い合わせは、お電話または下部のメールフォームよりお寄せください。 お送りいただく個人情報の取扱に関しましては、プライバシーポリシーをご覧ください。<br/>

                                            <img src="../assets/img/tel_header_sub2.png" alt="0473-69-7071" class="is-top is-hotline"><strong class="size_big">0473-69-7071</strong>受付時間：平日9:00～18:00

                                        </dd>
                                    </dl>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="main" class="main-contents__inner">
                    <article class="main-article">
                        <section class="pageTitle">
                            <div class="pageTitleIn">
                                <h2>Contact Us<span>お気軽にお問い合わせください</span></h2>
                            </div>
                        </section>
                        <section id="content">
                            <div id="mainContents">
                                <div class="div_box01">
                                    <div class="tabWrap">
                                        <ul class="tabContents">
                                            <li id="contactForm" style="display: block;">
                                                <form method="post" action="" onreset="">
                                                    <div class="div_boxMin01">
                                                        <table class="table_02 wFull">
                                                            <tbody>
                                                                <tr>
                                                                    <th>
                                                                        お名前<span class="required">必須</span>
                                                                    </th>
                                                                    <td>
                                                                        <input type="text" name="names" placeholder="○○ ○○" required="">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>
                                                                        ふりがな
                                                                    </th>
                                                                    <td>
                                                                        <input type="text" name="kana" placeholder="○○ ○○">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>
                                                                        年齢
                                                                    </th>
                                                                    <td>
                                                                        <input type="number" name="old" placeholder="20">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>
                                                                        電話番号<span class="required">必須</span>
                                                                    </th>
                                                                    <td>
                                                                        <input type="tel" name="tel;s" placeholder="000-000-0000" required="" pattern="[-\d\(\)]{5,15}">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>
                                                                        メールアドレス<span class="required">必須</span>
                                                                    </th>
                                                                    <td>
                                                                        <input type="email" name="email;s" placeholder="XXX@XXX.com" required="">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>
                                                                        自由記入欄
                                                                    </th>
                                                                    <td>
                                                                        <textarea name="comment" placeholder="ご自由にご記入ください"></textarea>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                            <!-- /table_01 -->
                                                        </table>
                                                        <input name="autoReply" type="hidden" value="1" checked="checked">
                                                        <div class="btnForm">
                                                            <button type="submit" class="btnConfirm">入力内容確認</button>
                                                        </div>
                                                        <!-- /.div_boxMin01 -->
                                                    </div>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- contentsLeft -->
                            </div>
                            <div id="sideContents">
                                <ul id="bnrCommon">
                                    <li class="h3_tit01">
                                        お名前
                                        <span>
                                            必須
                                        </span>
                                    </li>
                                    <li class="h3_tit01">
                                        お名前（かな）
                                        <span>
                                            必須
                                        </span>
                                    </li>
                                    <li class="h3_tit01">
                                        メールアドレス
                                        <span>
                                            必須
                                        </span>
                                    </li>
                                    <li class="h3_tit01">
                                        電話番号
                                        <span>
                                            任意
                                        </span>
                                    </li>
                                    <li class="h3_tit01">
                                        貴社名
                                        <span>
                                            任意
                                        </span>
                                    </li>
                                    <li class="h3_tit01">
                                        添付ファイル
                                        <span>
                                            任意
                                        </span>
                                    </li>
                                    <li class="h3_tit01">
                                        お問い合わせ内容
                                        <span>
                                            必須
                                        </span>
                                    </li>
                                </ul>

                            </div>
                        </section>
                    </article>
                </div>
            </div>
        </section>
        <section id="contactWrap">
            <div id="contact">
                <h2><img src="../assets/img/h2_contact.png" alt="CONTACT" width="137" height="36"> </h2>
                <p id="contactTel">
                    <b><img src="../assets/img/tel_header_sub2.png" alt="0473-69-7071" class="is-top is-hotline"><strong>0473-69-7071</strong></b><br>
                    <span>受付時間：平日 9:00～18:00</span>
                </p>
                <p id="contactBtn">
                    <a href="#" title="#" class="imgHover07"><img src="../assets/img/btn_contact1.png" alt="採用エントリー・お問い合わせ"></a>
                </p>
                <p class="img_contact"><img src="../assets/img/img_contact.png" alt="" width="230" height="206"> </p>
            </div>
        </section>

        <footer id="footerWrap">
            <div id="footer">
                <div id="accessContent">
                    <h2>
                        <a href="/" title="#"><img src="../assets/img/logo1.jpg" alt="logo"></a>
                    </h2>
                    <p class="accessText">〒277-0054
                        <br> 千葉県柏市南増尾2丁目 14-45 <br> TEL/FAX : 0473-69-7071
                    </p>
                    <p class="accessText"> 有料職業紹介事業許可/厚生労働大臣許可 10-ユ-300378<br> 登録支援機関/法務省·出入国在留管理庁登録 20登-004711<br> 菓子製造業/群馬県指令太保 第006114-00000037号<br> 飲食店営業（一般）/群馬県指令太保 第006114-00000039号</p>
                    <p id="copyright">Copyright © OTA FACTORY, all rights reserved </p>
                    <!-- /footerRight -->
                </div>
                <div id="footerList">
                    <ul id="footerList01">
                        <li><a href="#" title="#">会社案内</a></li>
                        <li><a href="#" title="#">食品製造販売事業</a></li>
                        <li><a href="#" title="#">お知らせ</a></li>
                    </ul>
                    <ul id="footerList02">
                        <li><a href="#" title="#">お問い合わせ</a></li>
                        <li><a href="#" title="#">プライバシーポリシー</a></li>
                        <li><a href="#" title="#">OTA FACTORYの強み</a></li>
                        <li><a href="#" title="#">ジョブダイアリー</a></li>
                    </ul>
                    <ul id="footerList03">
                        <li><a href="#" title="#">お客様の声</a></li>
                        <li><a href="#" title="#">料金</a></li>
                        <li><a href="#" title="#">よくある質問</a></li>
                        <li><a href="#" title="#">特定技能について</a></li>
                    </ul>
                    <p class="partners_b">
                        <a href="#" title="#">
                            <img src="../assets/img/p1.png" alt="#" />
                        </a>
                        <a href="#" title="#">
                            <img src="../assets/img/p2.png" alt="#" />
                        </a>
                        <a href="#" title="#">
                            <img src="../assets/img/p3.png" alt="#" />
                        </a>
                    </p>
                    <!-- /footerRight -->
                </div>

                <!-- /footer -->
            </div>
        </footer>

        <a id="scrollUp" href="#" style="position: fixed; z-index: 2147483647; display: none;"></a>

        <!-- /wrapper -->
    </main>
    <script src="../public/js/app.js"></script>



</body>

</html>