.pagination {
        display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}
.pagination .page-item{
    list-style: none;
}
.pagination .page-item a{
       position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    text-decoration: none;
    font-weight: bold;
    color: #fa807e;
}
.pagination .page-item a.current_page{
    
    color: black;
}
#breadcrumbList {
    width: 1100px;
    margin: 15px auto 15px;
    overflow: hidden
}

#breadcrumbList ul {
    overflow: hidden
}

#breadcrumbList ul li {
    display: inline;
    font-size: 14px;
    position: relative;
    padding: 2px 25px 2px 5px
}

#breadcrumbList ul li a {
    color: #000000;
    text-decoration: none
}

#breadcrumbList ul li a:hover {
    text-decoration: underline
}

#breadcrumbList ul li:first-child {
    background: url(../img/ico_home.png) left center no-repeat;
    padding-left: 25px
}

#breadcrumbList ul li:first-child a {
    text-decoration: underline;
    color: #f51018
}

#breadcrumbList ul li:after {
    content: "";
    width: 7px;
    height: 11px;
    background: url(../img/ico_arrow01.png) no-repeat;
    position: absolute;
    right: 3px;
    top: 5px
}

#breadcrumbList ul li:last-child {
    padding-right: 0
}

#breadcrumbList ul li:last-child:after {
    content: none
}

@media all {
    .wp-block-button__link {
        box-sizing: border-box;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        word-break: break-word;
    }
     :where(.wp-block-button__link) {
        border-radius: 9999px;
        box-shadow: none;
        padding: calc(.667em + 2px) calc(1.333em + 2px);
        text-decoration: none;
    }
    .wp-block-buttons>.wp-block-button {
        display: inline-block;
        margin: 0;
    }
    .wp-block-buttons.is-content-justification-center {
        justify-content: center;
    }
    .wp-block-columns {
        align-items: normal!important;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap!important;
    }
    @media (min-width:782px) {
        .wp-block-columns {
            flex-wrap: nowrap!important;
        }
    }
    @media (max-width:781px) {
        .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column {
            flex-basis: 100%!important;
        }
    }
    @media (min-width:782px) {
        .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column {
            flex-basis: 0;
            flex-grow: 1;
        }
    }
     :where(.wp-block-columns) {
        margin-bottom: 1.75em;
    }
    .wp-block-column {
        flex-grow: 1;
        min-width: 0;
        overflow-wrap: break-word;
        word-break: break-word;
    }
    .wp-block-group {
        box-sizing: border-box;
    }
    .wp-block-image img {
        box-sizing: border-box;
        height: auto;
        max-width: 100%;
        vertical-align: bottom;
    }
    .wp-block-image .aligncenter {
        display: table;
    }
    .wp-block-image .aligncenter {
        margin-left: auto;
        margin-right: auto;
    }
    .wp-block-image figure {
        margin: 0;
    }
    ol,
    ul {
        box-sizing: border-box;
    }
    .wp-block-spacer {
        clear: both;
    }
    .wp-element-button {
        cursor: pointer;
    }
    .has-text-align-center {
        text-align: center;
    }
    .aligncenter {
        clear: both;
    }
    html :where(img[class*=wp-image-]) {
        height: auto;
        max-width: 100%;
    }
     :where(figure) {
        margin: 0 0 1em;
    }
    .wp-block-button__link {
        color: #fff;
        background-color: #32373c;
        border-radius: 9999px;
        box-shadow: none;
        text-decoration: none;
        padding: calc(.667em + 2px) calc(1.333em + 2px);
        font-size: 1.125em;
    }
     :where(.is-layout-flex) {
        gap: .5em;
    }
    body .is-layout-flex {
        display: flex;
    }
    body .is-layout-flex {
        flex-wrap: wrap;
        align-items: center;
    }
    body .is-layout-flex>* {
        margin: 0;
    }
     :where(.wp-block-columns.is-layout-flex) {
        gap: 2em;
    }
     :where(.wp-block-columns.is-layout-flex) {
        gap: 2em;
    }
    .infotax_human {
        background-color: #376f26;
    }
    .wp-block-group {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }
    @media all and (min-width: 1201px) {
        .wp-block-group {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    .wp-block-group .wp-block-group {
        padding: 0;
    }
    .wp-block-group__inner-container>*+*:not(.wp-block-group) {
        -webkit-margin-before: var(--flow-space, 1em);
        margin-block-start: var(--flow-space, 1em);
    }
    .wp-block-group>.wp-block-group__inner-container {
        max-width: 1200px;
        margin: 0 auto;
    }
    @media all and (min-width: 769px) {
        .wp-block-group h2 {
            height: 125px;
        }
    }
    .wp-block-group h2 span {
        flex-basis: 100%;
        color: #b2006a;
        font-size: 1.2rem;
    }
    .wp-block-column>*+* {
        -webkit-margin-before: var(--flow-space, 1em);
        margin-block-start: var(--flow-space, 1em);
    }
    .wp-block-buttons .wp-block-button {
        display: block;
        text-align: center;
    }
    .wp-block-button__link {
        font-family: YakuHanJP, "Noto Sans JP", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 50px;
        font-weight: bold;
        text-decoration: none;
        line-height: 1.3;
        border: none;
        color: #6c0040;
        text-align: center;
        box-shadow: none;
        transition: .5s;
        border-radius: 0;
        position: relative;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.8rem;
        min-width: 40%;
    }
    .wp-block-button__link:link,
    .wp-block-button__link:visited {
        /* background: url(https://otafactory.jp/wp-content/themes/otafactory/img/arrow_right.png) no-repeat right 15px center/20px; */
        background-color: rgba(0, 0, 0, 0);
        color: #6c0040;
        text-decoration: none;
        border: solid 1px #6c0040;
    }
    .wp-block-button__link:hover {
        background-color: #b2006a;
        border: solid 1px #b2006a;
        color: #fff;
        transition: .5s;
    }
    .wp-block-button__link:focus {
        outline: none;
    }
    .wp-block-image img {
        width: 100%;
    }
    .inc-information__list {
        border-top: solid 1px #02040f;
        margin-bottom: 50px;
    }
    .inc-information__item {
        padding: 10px 0;
        border-bottom: solid 1px #02040f;
    }
    @media all and (min-width: 769px) {
        .inc-information__item {
            padding: 10px 30px;
        }
    }
    .inc-information__title {
        margin-bottom: 0!important;
        margin-top: 0!important;
        font-size: 1.6rem;
        display: inline-block;
        vertical-align: middle;
        font-weight: normal;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .inc-information__date {
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
        white-space: nowrap;
    }
    .inc-information__text {
        position: relative;
        width: 100%;
    }
    @media all and (min-width: 769px) {
        .inc-information__text {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
        }
    }
    .inc-information__item-anker {
        display: block;
        transition: .5s;
        padding: 10px 30px 10px 0;
        /* background: url(https://otafactory.jp/wp-content/themes/otafactory/img/arrow_right.png) no-repeat right center/20px; */
    }
    .inc-information__item-anker:link,
    .inc-information__item-anker:visited {
        color: initial;
        text-decoration: none;
    }
    .inc-information__item-anker:hover {
        color: #e59500;
        transition: .5s;
    }
    .inc-information__tax-list {
        display: inline-block;
        vertical-align: middle;
    }
    .inc-information__tax-item {
        display: inline-block;
        color: #fff;
        padding: 5px 8px;
        font-size: 1rem;
        vertical-align: middle;
        margin-right: 15px;
        width: 9em;
        text-align: center;
    }
    .human-intro {
        background-color: #e5dada;
    }
    .human-intro__p {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }
    .human-intro__relations {
        margin: 50px 0;
    }
    .human-intro__forte-columns {
        margin: 50px 0 0;
    }
    .human-intro__forte-columns .wp-block-column {
        margin-bottom: 30px;
    }
    .human-intro__forte-columns .wp-block-buttons {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .human-intro__forte-columns .wp-block-buttons .wp-block-button {
        margin-bottom: 0;
    }
    .human-intro__forte-lefttitle {
        border-bottom: solid 2px #333;
        margin-bottom: 15px;
        padding-bottom: 10px;
        position: relative;
        padding-left: 15px;
    }
    .human-intro__forte-lefttitle:after {
        content: '';
        width: 6px;
        height: 40px;
        background: #f51018;
        position: absolute;
        top: -10px;
        left: 0;
    }
    .human-jobdiary .wp-block-group__inner-container {
        max-width: none;
    }
    .human-jobdiary .wp-block-buttons {
        max-width: 1200px;
        margin: 0 auto;
    }
    .human-flow__block {
        padding: 0;
        counter-reset: num;
    }
    @media all and (max-width: 1200px) {
        .human-flow__block .wp-block-group__inner-container {
            margin: 0;
        }
    }
    .human-flow__child {
        padding: 0;
        background-color: #e5dada;
        display: flex;
        align-items: flex-start;
        margin-bottom: 20px;
        position: relative;
    }
    .human-flow__child::before {
        content: counter(num, decimal-leading-zero);
        counter-increment: num;
        flex-shrink: 0;
        flex-basis: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f51018;
        color: #fff;
        font-weight: bold;
        font-size: 2.4rem;
    }
    .human-flow__child::after {
        content: "";
        display: block;
        width: 47px;
        height: 12px;
        background: url(../img/ico_flow.png) no-repeat center center/47px;
        position: absolute;
        bottom: -17px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .human-flow__child:last-child::after {
        content: none;
    }
    .human-flow__child>.wp-block-group__inner-container {
        flex-grow: 1;
        min-height: 60px;
        padding: 15px;
    }
    @media all and (max-width: 1200px) {
        .human-flow__child>.wp-block-group__inner-container {
            margin: 0;
        }
    }
    @media all and (min-width: 769px) {
        .human-flow__child>.wp-block-group__inner-container {
            padding: 0 15px;
            display: flex;
            flex-wrap: wrap;
        }
    }
    .human-flow__child>.wp-block-group__inner-container>h3 {
        margin-bottom: 10px;
        color: #f51018;
        flex-shrink: 0;
        padding: 0;
    }
    @media all and (min-width: 769px) {
        .human-flow__child>.wp-block-group__inner-container>h3 {
            margin-bottom: 0;
            flex-basis: 200px;
            padding: 18px 15px 14px 0;
            font-size: 20px;
        }
    }
    .human-flow__child>.wp-block-group__inner-container>p {
        margin-bottom: 0;
    }
    @media all and (min-width: 769px) {
        .human-flow__child>.wp-block-group__inner-container>p {
            flex-basis: calc(100% - 200px);
            padding: 14px 0;
            margin-top: 0px;
        }
    }
    .human-flow__period {
        flex-basis: 100%;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    @media all and (min-width: 769px) {
        .human-flow__period {
            margin-top: 10px;
        }
    }
    .human-flow__period .wp-block-column>h4 {
        margin-bottom: 0;
        color: #fff;
        background-color: #eb6e6e;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8rem;
        line-height: 1.4;
        padding: 5px 10px;
    }
    @media all and (min-width: 769px) {
        .human-flow__period .wp-block-column>h4 {
            min-height: 72px;
            font-size: 1.4rem;
        }
    }
    .human-flow__period .wp-block-column>p {
        background-color: #fff;
        margin-bottom: 0;
        padding: 15px;
        font-weight: bold;
    }
    .human-flow__period .wp-block-column>p strong {
        color: #333;
        font-weight: bold;
        font-size: 2rem;
        display: inline-block;
    }
    @media all and (min-width: 769px) {
        .human-flow__period .wp-block-column>p strong {
            font-size: 1.3rem;
        }
    }
    .wp-block-group .human-flow__example {
        flex-basis: 100%;
        background-color: #fff;
        padding: 20px;
        margin: 30px 0;
    }
    @media all and (max-width: 1200px) {
        .wp-block-group .human-flow__example .wp-block-group__inner-container {
            margin: 0;
        }
    }
    .wp-block-group .human-flow__example h4 {
        color: #333;
        font-size: 2rem;
        line-height: 1.4;
    }
    .wp-block-group .human-flow__example ol {
        list-style: none;
        counter-reset: num;
        border-top: dotted 1px #02040f;
    }
    .wp-block-group .human-flow__example li {
        line-height: 1.4;
        padding: 10px 0;
        border-bottom: dotted 1px #02040f;
        position: relative;
        padding-left: 1.2em;
    }
    .wp-block-group .human-flow__example li::before {
        position: absolute;
        top: auto;
        left: 0;
        counter-increment: num;
        content: counter(num) ".";
        color: #f51018;
        font-weight: bold;
    }
    .human-flow__guarantee {
        padding: 0;
        margin: 50px 0 -40px;
    }
    @media all and (max-width: 1200px) {
        .human-flow__guarantee .wp-block-group__inner-container {
            margin: 0;
        }
    }
    .human-flow__guarantee h3 {
        color: #fff;
        background-color: #eb6e6e;
        padding: 15px;
        font-size: 1.6rem;
    }
    .human-flow__guarantee h4 {
        font-size: 1.5rem;
    }
    .human-flow__guarantee .wp-block-image {
        margin-bottom: 0;
    }
    .human-flow__guarantee p {
        margin-bottom: 0;
    }
    .human-flow__guarantee .wp-block-columns {
        margin-bottom: 0;
    }
    .human-flow__guarantee-block {
        display: block;
    }
    @media all and (min-width: 769px) {
        .human-flow__guarantee-block {
            display: flex;
        }
    }
    .human-flow__guarantee-block>.wp-block-column:nth-child(2n) {
        margin-left: 0;
    }
    @media all and (min-width: 769px) {
        .human-flow__guarantee-block>.wp-block-column:nth-child(2n) {
            margin-left: 2em;
        }
    }
    .human-pagenavi {
        background-color: #e5dada;
    }
    .human-pagenavi.wp-block-group .wp-block-columns {
        margin-bottom: -20px;
    }
    .human-pagenavi.wp-block-group .wp-block-column {
        position: relative;
    }
    .human-pagenavi.wp-block-group .wp-block-column figure {
        margin-bottom: 0;
    }
    .human-pagenavi.wp-block-group .wp-block-column img {
        max-width: 50px;
        padding-bottom: 2.5rem;
    }
    @media all and (min-width: 769px) {
        .human-pagenavi.wp-block-group .wp-block-column img {
            max-width: 100px;
            padding-bottom: 2rem;
        }
    }
    .human-pagenavi.wp-block-group .wp-block-column a {
        display: block;
        background-color: #eb6e6e;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        transition: background-color .5s;
    }
    @media all and (min-width: 769px) {
        .human-pagenavi.wp-block-group .wp-block-column a {
            height: 200px;
        }
    }
    .human-pagenavi.wp-block-group .wp-block-column a:hover img {
        opacity: 1;
    }
    .human-pagenavi.wp-block-group .wp-block-column a:hover {
        background-color: #e59500;
        transition: background-color .5s;
    }
    .human-pagenavi.wp-block-group .wp-block-column h2 {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%, 0);
        text-align: center;
        background: none;
        min-height: 0;
        color: #fff;
        white-space: nowrap;
        pointer-events: none;
        font-size: 1.8rem;
        margin-bottom: 0;
        height: auto;
    }
    @media all and (min-width: 769px) {
        .human-pagenavi.wp-block-group .wp-block-column h2 {
            bottom: 15px;
            font-size: 1.5rem;
        }
    }
    .human-partners {
        background-color: #eee;
    }
    .human-partners__list {
        background-color: #fff;
        padding: 15px 15px 0;
        font-size: 1.8rem;
        display: flex;
        flex-wrap: wrap;
    }
    @media all and (min-width: 769px) {
        .human-partners__list {
            padding: 30px 30px 15px;
        }
    }
    .human-partners__list>li {
        padding: 0 15px 0 1em;
        /* background: url(https://otafactory.jp/wp-content/themes/otafactory/img/ico_diamond.png) no-repeat left top 7px/.7em; */
        flex-basis: 100%;
        max-width: 100%;
        line-height: 1.4;
        margin-bottom: 15px;
    }
    @media all and (min-width: 561px) {
        .human-partners__list>li {
            flex-basis: 50%;
            max-width: 50%;
        }
    }
    @media all and (min-width: 769px) {
        .human-partners__list>li {
            flex-basis: 33.33333%;
            max-width: 33.33333%;
        }
    }
    @media all and (min-width: 1201px) {
        .human-partners__list>li {
            flex-basis: 25%;
            max-width: 25%;
        }
    }
    .inc-jobdiary {
        position: relative;
    }
    .inc-jobdiary__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 -15px;
        gap: 1px;
    }
    @media all and (min-width: 769px) {
        .inc-jobdiary__list {
            gap: 0;
        }
    }
    @media all and (min-width: 1025px) {
        .inc-jobdiary__list {
            grid-template-columns: repeat(4, 1fr);
        }
    }
    @media all and (min-width: 1201px) {
        .inc-jobdiary__list {
            margin: 0;
        }
    }
    .inc-jobdiary__item {
        position: relative;
    }
    .inc-jobdiary__cover {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        z-index: 1;
    }
    .inc-jobdiary__item-anker {
        position: relative;
        display: block;
        height: 100%;
        background-color: #02040f;
    }
    .inc-jobdiary__item-anker:link,
    .inc-jobdiary__item-anker:visited {
        color: #fff;
        text-decoration: none;
    }
    .inc-jobdiary__item-anker:hover {
        transition: .5s;
    }
    .inc-jobdiary__text {
        width: 100%;
        padding: 10px;
    }
    @media all and (min-width: 769px) {
        .inc-jobdiary__text {
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, .5);
        }
    }
    @media all and (min-width: 1921px) {
        .inc-jobdiary__text {
            padding: 30px;
        }
    }
    .inc-jobdiary__title {
        font-size: 1.4rem;
        margin-bottom: 0!important;
    }
    @media all and (min-width: 561px) {
        .inc-jobdiary__title {
            font-size: 1.6rem;
        }
    }
    @media all and (min-width: 1201px) {
        .inc-jobdiary__title {
            font-size: 1.3rem;
            height: 54px;
            overflow: hidden;
        }
    }
    .inc-jobdiary__date {
        text-align: right;
        font-size: 1.2rem;
    }
    @media all and (min-width: 561px) {
        .inc-jobdiary__date {
            font-size: 1.3rem;
        }
    }
    @media all and (min-width: 769px) {
        .inc-jobdiary__date {
            font-size: 1.3rem;
        }
    }
    .inc-jobdiary__thumbnail {
        overflow: hidden;
        filter: grayscale(100%);
        transition: .5s;
        background-color: #000;
    }
    .inc-jobdiary__thumbnail img {
        transition: .5s;
    }
    .inc-jobdiary__item-anker:hover .inc-jobdiary__thumbnail {
        filter: grayscale(0%);
        transition: .5s;
    }
    .inc-jobdiary__item-anker:hover .inc-jobdiary__thumbnail img {
        opacity: 1;
        transform: scale(1.1);
        transition: .5s;
    }
    .inc-jobdiary .wp-block-buttons {
        margin-top: 50px;
    }
}

.wp-container-3.wp-container-3,
.wp-container-6.wp-container-6,
.wp-container-15.wp-container-15,
.wp-container-26.wp-container-26,
.wp-container-33.wp-container-33,
.wp-container-37.wp-container-37,
.wp-container-39.wp-container-39,
.wp-container-46.wp-container-46 {
    flex-wrap: nowrap;
}

.wp-container-7.wp-container-7,
.wp-container-9.wp-container-9,
.wp-container-11.wp-container-11,
.wp-container-13.wp-container-13 {
    justify-content: center;
}

.wFull {
    width: 100%;
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
}

@media screen and (min-width:480px) {
    a.imgHover07:hover img {
        opacity: .7;
        -ms-filter: "alpha( opacity=70 )";
        transition: all .3s ease;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#bnrCommon li {
    margin-bottom: 19px;
}

#bnrCommon li:nth-child(4),
#bnrCommon li:nth-child(5) {
    margin-bottom: 20px;
}

#content {
    width: 1100px;
    margin: 0 auto 160px;
    text-align: left;
}

#content:after {
    content: "";
    display: block;
    clear: both;
}

#mainContents {
    float: right;
    width: 758px;
}

#sideContents {
    float: left;
    width: 280px;
    margin-right: 60px;
}

.h3_tit01 {
    font-size: 25px;
    font-weight: 400;
    font-family: Kosugi, sans-serif;
    margin-bottom: 43px;
    padding: 0 0 13px 25px;
    position: relative;
    line-height: 1.5;
    border-bottom: solid 2px #000;
}

.h3_tit01:after {
    content: '';
    width: 6px;
    height: 40px;
    background: #f51018;
    position: absolute;
    top: 0;
    left: 0;
}

.table_02 tbody tr:nth-child(odd) {
    background: #fff;
}

.table_02 tbody th {
    font-size: 13px;
    text-align: left;
    color: #000;
    padding: 13px 30px;
}

.table_02 tbody td {
    font-size: 15px;
    padding: 13px 20px 13px 0;
    color: #000;
}

.div_box01 {
    margin-bottom: 80px;
}

.div_box01:last-child {
    margin-bottom: 0;
}

.div_boxMin01 {
    padding: 40px 30px 24px;
    /* background: url(https://pafmo.com/common/img/bg_divboxMin.png) top no-repeat #fad8d7; */
    position: relative;
    margin-bottom: 40px;
}

.div_boxMin01:last-child {
    margin-bottom: 0;
}

.tabContents li {
    display: none;
}

.tabContents li.current {
    display: block;
}

.tabControl {
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto 30px;
}

.tabControl li {
    margin: 0 10px 10px 0;
    /* background: url(https://pafmo.com/img/pattern_dot01.svg) #f8d8d8; */
    text-align: center;
}

.tabControl li a {
    width: 160px;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}

.tabControl li a.current,
.tabControl li a:hover {
    background: #fa807d;
}

.tabControl {
    margin: 0 auto 20px;
}

.tabControl li {
    margin: 0 18px 10px 0;
}

.tabControl li:last-child {
    margin-right: 0;
}

.tabControl li a {
    width: 350px;
}

.table_02 th,
.table_02 td {
    padding: 18px 20px;
}

.table_02 th {
    width: 40%;
}

.table_02 tr {
    background-color: #fff;
}

.required {
    color: #fff;
    font-size: 80%;
    padding: 5px 8px;
    margin-left: 12px;
    background-color: #F51F16;
    white-space: nowrap;
    font-weight: normal;
}

.btnForm {
    margin: 35px auto 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btnForm button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 50px;
    font-size: 18px;
    color: #ffffff;
}

.btnForm button:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha( opacity=70 )";
    transition: 0.2s linear;
}

.btnForm .btnConfirm {
    background-color: #000000;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='number'],
textarea,
select {
    font-size: 15px;
    padding: 6px 10px;
    border: 1px solid #e4e4e4;
    border-width: 0 0 1px 1px;
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
    line-height: 1.5;
    width: 330px;
    transition: border-color .2s;
}

input[name^="email"] {
    width: 400px;
}

input[name^="old"] {
    width: 80px;
}

textarea {
    width: 400px;
    max-width: 400px;
    min-width: 400px;
    min-height: 150px;
}

input[type='text']:focus,
input[type='tel']:focus,
input[type='email']:focus,
input[type='number']:focus,
textarea:focus,
select:focus {
    border-color: #EE8F98;
}

.selectWrap {
    display: inline-block;
    position: relative;
}

.selectWrap:after {
    content: "";
    display: block;
    position: absolute;
    right: 12px;
    top: 50%;
    border-style: solid;
    border-width: 11px 7px 0;
    margin-top: -5px;
    border-color: #EE8F98 transparent transparent;
    pointer-events: none;
}

.sweets-block .wp-block-group {
    max-width: 800px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    margin-bottom: 30px;
}

.special {
    color: #fff;
    font-size: 80%;
    padding: 5px 8px;
    margin-left: 12px;
    background-color: #F51F16;
    white-space: nowrap;
    font-weight: normal;
    font-size: 15px;
    margin-right: 15px;
}

.text_contact {
    font-size: 20px;
}

.company-message .wp-block-group {
    max-width: 830px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 60%, rgba(255, 255, 255, 0) 100%);
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

.table_01 tbody tr:nth-child(odd) {
    background: #f0f0f0;
}

.table_01 tbody th {
    font-size: 13px;
    text-align: left;
    color: #000;
    padding: 13px 30px;
}

.table_01 tbody td {
    font-size: 15px;
    padding: 13px 20px 13px 0;
    color: #000;
}

.size_big {
    font-size: 20px;
    color: #f51018;
}

.company-message .wp-block-group {
    background-color: #bfbbbb;
    border-radius: 10px;
}

.main-visual-sweets__text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    pointer-events: none;
    padding: 0 15px;
}

.main-visual-sweets__title {
    font-size: 3rem;
}

.main-visual-sweets__title>span {
    color: #ea619f;
    display: block;
    font-size: 2rem;
    margin-top: 5px;
}

.pos_top {
    position: relative;
}