#mainBanner.box_hair .view {
    padding-top: 0px;
}

#mainBanner.box_hair .view:nth-child(2) {
    padding-left: 0px;
    padding-right: 10px;
}

#mainBanner.box_hair .view:nth-child(3) {
    padding-right: 10px;
    padding-left: 0px;
}

#mainBanner.box_hair .view:nth-child(4) {
    padding-right: 0px;
    padding-left: 0px;
}

#mainBanner.box_hair h3,
#messageWrap.box_hair h3 {
    text-align: left;
    font-size: 17px;
}
#mainBanner .ul{
        display: flex;
    justify-content: space-between;
}
#mainBanner .ul .view{
        display: block;
    width: 48%;
    background: #fff;
    padding: 30px 30px 27px;
}
#mainBanner.box_hair p,
#messageWrap.box_hair p {
    text-align: left;
    height: 48px;
    overflow: hidden;
}

#messageWrap.box_hair .view:nth-child(2) {
    padding-left: 0px;
    padding-right: 10px;
}

#messageWrap.box_hair .view:nth-child(3) {
    padding-right: 10px;
    padding-left: 0px;
}

#messageWrap.box_hair .view:nth-child(4) {
    padding-right: 0px;
    padding-left: 0px;
}

.inc-jobdiary__date {
    padding-right: 10px;
}

.inc-jobdiary__list .inc-jobdiary__title {
    height: 63px;
    width: 95%;
}

.box_hair_style .inc-jobdiary__thumbnail {
    text-align: center;
    filter: none;
}
.box_hair_style .inc-jobdiary__date a{
     background-color: rgba(0, 0, 0, .5);
}
.inc-jobdiary__item .inc-jobdiary__text  h3{
   text-align: center;
    width: 95%;

}
.box_hair_style .inc-jobdiary__date {
    text-align: center;
}
.box_product_hair#messageWrap .slider_product .figure {
    text-align: center;
}

.box_product_hair#messageWrap .slider_product .figure img {
    max-width: 40%;
    margin: 0 auto;
}
.box_hair_style .inc-jobdiary__list .inc-jobdiary__title {
    text-align: center;
}

.box_hair_style .inc-jobdiary__text {
    width: 94%;
}

#messageWrap.box_hair .view {
    background-color: #e5dada;
    padding-top: 0px;
}

.box_hair_style .inc-jobdiary__list {
    grid-template-columns: repeat(6, 1fr);
}

.box_product_hair#messageWrap .slider_product span {
    text-align: center;
}

.box_product_hair#messageWrap .slider_product span img {
    max-width: 40%;
    margin: 0 auto;
}

.box_product_hair .slider_product {
    margin: 25px auto;
    padding-top: 25px;
    background-color: #fff;
}

.box_product_hair .bx-wrapper {
    margin: 0 auto;
    background-color: #fff;
}

.box_product_hair .bx-wrapper .bx-viewport {
    padding-bottom: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.txt-wrap.cf {
    text-align: center;
    margin-bottom: 20px;
    padding: 0px 5px;
}

.txt-wrap.cf .price {
    color: #777;
}

.box_product_hair#messageWrap .txt-wrap.cf h3.genre {
    text-align: center;
    color: #777;
    font-size: 14px;
}

.box_product_hair#messageWrap .txt-wrap.cf .name {
    text-align: center;
}

.box_product_hair#messageWrap .txt-wrap.cf .price {
    text-align: center;
}

.box_product_hair#messageWrap {
    padding-bottom: 6px;
}

.box_hair_2 .txtBanner {
    padding: 15px 5px;
}

.box_hair_style_big.wp-block-group {
    padding-bottom: 0;
}

.tabControl.tab_hair div a {
    width: auto;
}

.tabControl.tab_hair {
    justify-content: center;
}
@media only screen and (max-width: 1024px) {
    #messageWrap.box_hair p {
        text-align: center;
    }
  
    .box_hair_style .inc-jobdiary__list {
        grid-template-columns: repeat(2, 1fr);
    }
    .box_product_hair#messageWrap .wp-block-columns span img {
        max-width: 25%;
    }
    .tabControl.tab_hair div {
        width: 100%;
    }
    .tabControl.tab_hair div a {
        width: 100%;
    }
    #mainBanner.box_hair .view {
        padding-bottom: 0px;
    }
    #mainBanner.box_hair .view {
        font-size: 17px;
    }
      #mainBanner.box_hair h3,
    #messageWrap.box_hair h3 {
        text-align: center;
    }

     #mainBanner_top.box_hair .view {
        padding-bottom: 0px;
    }
    #mainBanner_top.box_hair .view {
        font-size: 17px;
    }
      #mainBanner_top.box_hair h3,
    #messageWrap.box_hair h3 {
        text-align: center;
    }

    #mainBanner_media.box_hair .view {
        padding-bottom: 0px;
    }
    #mainBanner_media.box_hair .view {
        font-size: 17px;
    }
      #mainBanner_media.box_hair h3,
    #messageWrap.box_hair h3 {
        text-align: center;
    }

}



#mainBanner_top.box_hair .view {
    padding-top: 0px;
}

#mainBanner_top.box_hair .view:nth-child(2) {
    padding-left: 0px;
    padding-right: 10px;
}

#mainBanner_top.box_hair .view:nth-child(3) {
    padding-right: 10px;
    padding-left: 0px;
}

#mainBanner_top.box_hair .view:nth-child(4) {
    padding-right: 0px;
    padding-left: 0px;
}
#mainBanner_top.box_hair h3,
#messageWrap.box_hair h3 {
    text-align: left;
    font-size: 17px;
    color: black;
    text-decoration: unset;
}
#mainBanner_top .ul{
        display: flex;
    justify-content: space-between;
}
#mainBanner_top .ul .view{
        display: block;
    width: 48%;
    background: #fff;
    padding: 30px 30px 27px;
}
#mainBanner_top.box_hair p,
#messageWrap.box_hair p {
    text-align: left;
    height: 48px;
    overflow: hidden;
}

#mainBanner_top  a,#mainBanner_top  h3{
    color: black;
    text-decoration: unset;
}




#mainBanner_media.box_hair .view {
    padding-top: 0px;
}

#mainBanner_media.box_hair .view:nth-child(2) {
    padding-left: 0px;
    padding-right: 10px;
}

#mainBanner_media.box_hair .view:nth-child(3) {
    padding-right: 10px;
    padding-left: 0px;
}

#mainBanner_media.box_hair .view:nth-child(4) {
    padding-right: 0px;
    padding-left: 0px;
}
#mainBanner_media.box_hair h3,
#messageWrap.box_hair h3 {
    text-align: left;
    font-size: 17px;
    color: black;
    text-decoration: unset;
}
#mainBanner_media .ul{
        display: flex;
    justify-content: space-between;
}
#mainBanner_media .ul .view{
        display: block;
    width: 48%;
    background: #fff;
    padding: 30px 30px 27px;
}
#mainBanner_media.box_hair p,
#messageWrap.box_hair p {
    text-align: left;
    height: 48px;
    overflow: hidden;
}

#mainBanner_media  a,#mainBanner_media  h3{
    color: black;
    text-decoration: unset;
}



