.slider{
    position: relative;
    margin: 0;
}
.mySlides{
    width: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.mySlides.block{
    width: 100%;
}

.mySlides.show{
    width: 100%;
    transition: 1s;
    z-index: 1;
}
