@-webkit-keyframes borderInOut {
    0% {
        opacity: 0;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: left;
        transform-origin: left
    }
    5% {
        opacity: 1;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: left;
        transform-origin: left
    }
    49% {
        opacity: 1;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: left;
        transform-origin: left
    }
    50% {
        opacity: 1;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: right;
        transform-origin: right
    }
    100% {
        opacity: 1;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: right;
        transform-origin: right
    }
}
@keyframes borderInOut {
    0% {
        opacity: 0;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: left;
        transform-origin: left
    }
    5% {
        opacity: 1;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: left;
        transform-origin: left
    }
    49% {
        opacity: 1;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: left;
        transform-origin: left
    }
    50% {
        opacity: 1;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: right;
        transform-origin: right
    }
    100% {
        opacity: 1;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: right;
        transform-origin: right
    }
}
@-webkit-keyframes contentWrapMove {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
    5% {
        opacity: 1;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}
@keyframes contentWrapMove {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
    5% {
        opacity: 1;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}
@-webkit-keyframes contentInnerStay {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
    5% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}
@keyframes contentInnerStay {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
    5% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}
.loading-page {
    background: #0d0d0d;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999999999999999;
}
.loading-page .counter {
    text-align: center;
}
.loading-page .counter p {
    font-size: 40px;
    font-weight: 100;
    color: #f60d54;
}
.loading-page .counter h1 {
    color: white;
    font-size: 60px;
    margin-top: -10px;
}
.loading-page .counter hr {
    background: #f60d54;
    border: none;
    height: 1px;
}
.loading-page .counter {
    position: relative;
    width: 200px;
}
.loading-page .counter h1.abs {
    position: absolute;
    top: 0;
    width: 100%;
}
.loading-page .counter .color {
    width: 0px;
    overflow: hidden;
    color: #f60d54;
}
/* loadding */

#wrapper {}
.is-top {
    display: block;
}
.is-sub {
    display: none;
}
.slider01 {
    width: 623px;
    height: 553px;
    left: -685px;
    top: 36px;
    transform: rotate(-45deg);
}
.slider02 {
    width: 1421px;
    height: 843px;
    left: 128px;
    top: -125px;
    transform: rotate(-45deg);
}
.slider01, .slider02 {
    position: absolute;
}
.mySlides {
    width: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    display: block;
}
.mySlides.block {
    width: 100%;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
}
.slider01 .mySlides.show {
    width: 100%;
    transition: width 1.5s;
    transition-delay: 0s;
    z-index: 2;
}
.slider02 .mySlides.show {
    width: 100%;
    transition: width 1.5s;
    transition-delay: 1s;
    z-index: 2;
}
.slider02 li:nth-child(1) {}
.slider02 li:nth-child(2) {}
.slider02 li.show:nth-child(3) {
    /* top: -1px;
    left: -1px; */
    background: url(../img/img_mv03_02.png) top left;
    transform: scale(1.0005);
}
.slider01 li.show:nth-child(3) {
    background: url(../img/img_mv03_01.png);
    transform: scale(1.0005);
    /* top: 1px;
    left: 1px; */
}
#sliderWrap {
    width: 100%;
    height: 1098px;
    position: relative;
}
#sliderWrap:after {
    content: '';
    background: url(../img/bg_mv01.png);
    width: 371px;
    height: 388px;
    position: absolute;
    z-index: 9;
    right: 71px;
    top: 126px;
}
#sliderWrap:before {
    content: '';
    background: url(../img/bg_mv02.png);
    width: 371px;
    height: 388px;
    position: absolute;
    left: 37px;
    top: 567px;
}
#mainSlider {
    width: 1100px;
    height: 1098px;
    position: relative;
    margin: 0 auto;
}
#mainSlider.show #fade01, #mainSlider.show #fade02 {
    opacity: 1;
    transition: 1s ease .5s;
}
#mainSlider.show #fade02 {
    transition: 1s ease .8s;
}
#mainSlider::before {
    content: '';
    background: url(../img/bg_01.png);
    width: 465px;
    height: 1410px;
    position: absolute;
    right: -450px;
    top: 131px;
}
#fade01 {
    position: absolute;
    width: 494px;
    height: 732px;
    opacity: 0;
}
#fade02 {
    position: absolute;
    width: 1508px;
    height: 1098px;
    opacity: 0;
}
#fade01, #fade02 ul {
    position: relative;
}
#fade01 {
    top: 0px;
    left: -450px;
}
#fade02 {
    top: 0px;
    right: -450px;
}
.crossfade li {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
    -webkit-transition: opacity 1.2s;
    transition: opacity 1.2s;
}
#fade01 li {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
#fade02 li {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.crossfade li.currentSlide {
    opacity: 1;
    z-index: 1;
}
.crossfade li.prevSlide {
    z-index: 2;
}
/* Slider Text
----------------------*/

/* Slider Text
----------------------*/

.p-index-kv__title.display {
    display: block;
}
.p-index-kv__title {
    display: none;
    position: absolute;
    z-index: 9999;
    margin: 0;
    font-family: Viga, "ÓÎ¥´¥·¥Ã¥¯Ìå", "Yu Gothic", YuGothic, "¥Ò¥é¥®¥Î½Ç¥´ ProN W3", "Hiragino Kaku Gothic ProN", "¥á¥¤¥ê¥ª", Meiryo, sans-serif;
    font-weight: 400;
    line-height: 1.26668;
    letter-spacing: .1em;
    pointer-events: none;
    top: 284px;
    left: 8px;
}
.p-index-kv__title-wrap {
    letter-spacing: .1em;
    font-size: 5.5vw;
}
.p-index-kv__title div:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
}
.p-index-kv__title div:nth-child(3) {
    position: absolute;
    top: 172px;
    left: 0;
}
.p-index-kv__title-wrap:nth-child(2) {
    position: absolute;
    top: 86px !important;
    left: 0 !important;
}
.c-border-in-out {
    display: inline-block;
    z-index: 100;
    position: relative;
    color: transparent;
    white-space: nowrap
}
.c-border-in-out>img {
    opacity: 0;
}
.c-border-in-out__content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
.c-border-in-out__content-in1 {
    width: 100%;
    display: block;
    overflow: hidden;
}
.c-border-in-out__content-in2 {
    width: 100%;
    display: block;
    white-space: nowrap;
}
.c-border-in-out__content-in2 img, .c-border-in-out__content-in2 svg {
    display: block;
}
.c-border-in-out--yellow .c-border-in-out__content:after {
    background-color: #eba845;
}
.c-border-in-out--yellow .c-border-in-out__content-in2 {
    color: #eba845;
}
.c-border-in-out--yellow-green .c-border-in-out__content:after {
    background-color: #0cc745;
}
.c-border-in-out--yellow-green .c-border-in-out__content-in2 {
    color: #0cc745;
}
.c-border-in-out--sky-blue .c-border-in-out__content:after {
    background-color: #58c1db;
}
.c-border-in-out--sky-blue .c-border-in-out__content-in2 {
    color: #58c1db;
}
.c-border-in-out--light-green .c-border-in-out__content:after {
    background-color: #00a693;
}
.c-border-in-out--light-green .c-border-in-out__content-in2 {
    color: #00a693;
}
.c-border-in-out__content:after {
    opacity: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}
.c-border-in-out__content-in1 {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
}
.c-border-in-out__content-in2 {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
.c-border-in-out.is-animate .c-border-in-out__content:after, .c-border-in-out.is-shown .c-border-in-out__content:after {
    -webkit-animation-name: borderInOut;
    animation-name: borderInOut;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.c-border-in-out.is-animate .c-border-in-out__content-in1, .c-border-in-out.is-shown .c-border-in-out__content-in1 {
    -webkit-animation-name: contentWrapMove;
    animation-name: contentWrapMove;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.c-border-in-out.is-animate .c-border-in-out__content-in2, .c-border-in-out.is-shown .c-border-in-out__content-in2 {
    -webkit-animation-name: contentInnerStay;
    animation-name: contentInnerStay;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}
.c-anime-dl-1 {
    -webkit-animation-delay: .75s;
    animation-delay: .75s
}
.c-anime-dl-af1:after {
    -webkit-animation-delay: .35s;
    animation-delay: .35s
}
.c-anime-dl-border1 {
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s
}
.c-anime-dl-line1-bfaf1:before {
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}
.c-anime-dl-line1-bfaf1:after {
    -webkit-animation-delay: .5s;
    animation-delay: .5s
}
.c-anime-dl-line2-bfaf1:before {
    -webkit-animation-delay: .7s;
    animation-delay: .7s
}
.c-anime-dl-line2-bfaf1:after {
    -webkit-animation-delay: .9s;
    animation-delay: .9s
}
.c-anime-dl-scroll1 {
    -webkit-animation-delay: .55s;
    animation-delay: .55s
}
.c-anime-dl-2 {
    -webkit-animation-delay: .9s;
    animation-delay: .9s
}
.c-anime-dl-af2:after {
    -webkit-animation-delay: .5s;
    animation-delay: .5s
}
.c-anime-dl-border2 {
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s
}
.c-anime-dl-line1-bfaf2:before {
    -webkit-animation-delay: .6s;
    animation-delay: .6s
}
.c-anime-dl-line1-bfaf2:after {
    -webkit-animation-delay: .8s;
    animation-delay: .8s
}
.c-anime-dl-line2-bfaf2:before {
    -webkit-animation-delay: 1s;
    animation-delay: 1s
}
.c-anime-dl-line2-bfaf2:after {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s
}
.c-anime-dl-scroll2 {
    -webkit-animation-delay: .7s;
    animation-delay: .7s
}
.c-anime-dl-3 {
    -webkit-animation-delay: 1.05s;
    animation-delay: 1.05s
}
.c-anime-dl-af3:after {
    -webkit-animation-delay: .65s;
    animation-delay: .65s
}
.c-anime-dl-border3 {
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s
}
.c-anime-dl-line1-bfaf3:before {
    -webkit-animation-delay: .9s;
    animation-delay: .9s
}
.c-anime-dl-line1-bfaf3:after {
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s
}
.c-anime-dl-line2-bfaf3:before {
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s
}
.c-anime-dl-line2-bfaf3:after {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s
}
.c-anime-dl-scroll3 {
    -webkit-animation-delay: .85s;
    animation-delay: .85s
}
.c-anime-dl-4 {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s
}
.c-anime-dl-af4:after {
    -webkit-animation-delay: .8s;
    animation-delay: .8s
}
.c-anime-dl-border4 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s
}
.c-anime-dl-line1-bfaf4:before {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s
}
.c-anime-dl-line1-bfaf4:after {
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s
}
.c-anime-dl-line2-bfaf4:before {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s
}
.c-anime-dl-line2-bfaf4:after {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s
}
.c-anime-dl-scroll4 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s
}
.c-anime-dl-5 {
    -webkit-animation-delay: 1.35s;
    animation-delay: 1.35s
}
.c-anime-dl-af5:after {
    -webkit-animation-delay: .95s;
    animation-delay: .95s
}
.c-anime-dl-border5 {
    -webkit-animation-delay: 2.3s;
    animation-delay: 2.3s
}
.c-anime-dl-line1-bfaf5:before {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s
}
.c-anime-dl-line1-bfaf5:after {
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s
}
.c-anime-dl-line2-bfaf5:before {
    -webkit-animation-delay: 1.9s;
    animation-delay: 1.9s
}
.c-anime-dl-line2-bfaf5:after {
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s
}
.c-anime-dl-scroll5 {
    -webkit-animation-delay: 1.15s;
    animation-delay: 1.15s
}
.c-anime-dl-6 {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s
}
.c-anime-dl-af6:after {
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s
}
.c-anime-dl-border6 {
    -webkit-animation-delay: 2.6s;
    animation-delay: 2.6s
}
.c-anime-dl-line1-bfaf6:before {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s
}
.c-anime-dl-line1-bfaf6:after {
    -webkit-animation-delay: 2s;
    animation-delay: 2s
}
.c-anime-dl-line2-bfaf6:before {
    -webkit-animation-delay: 2.2s;
    animation-delay: 2.2s
}
.c-anime-dl-line2-bfaf6:after {
    -webkit-animation-delay: 2.4s;
    animation-delay: 2.4s
}
.c-anime-dl-scroll6 {
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s
}
.c-anime-dl-7 {
    -webkit-animation-delay: 1.65s;
    animation-delay: 1.65s
}
.c-anime-dl-af7:after {
    -webkit-animation-delay: 1.25s;
    animation-delay: 1.25s
}
.c-anime-dl-border7 {
    -webkit-animation-delay: 2.9s;
    animation-delay: 2.9s
}
.c-anime-dl-line1-bfaf7:before {
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s
}
.c-anime-dl-line1-bfaf7:after {
    -webkit-animation-delay: 2.3s;
    animation-delay: 2.3s
}
.c-anime-dl-line2-bfaf7:before {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s
}
.c-anime-dl-line2-bfaf7:after {
    -webkit-animation-delay: 2.7s;
    animation-delay: 2.7s
}
.c-anime-dl-scroll7 {
    -webkit-animation-delay: 1.45s;
    animation-delay: 1.45s
}
.c-anime-dl-8 {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s
}
.c-anime-dl-af8:after {
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s
}
.c-anime-dl-border8 {
    -webkit-animation-delay: 3.2s;
    animation-delay: 3.2s
}
.c-anime-dl-line1-bfaf8:before {
    -webkit-animation-delay: 2.4s;
    animation-delay: 2.4s
}
.c-anime-dl-line1-bfaf8:after {
    -webkit-animation-delay: 2.6s;
    animation-delay: 2.6s
}
.c-anime-dl-line2-bfaf8:before {
    -webkit-animation-delay: 2.8s;
    animation-delay: 2.8s
}
.c-anime-dl-line2-bfaf8:after {
    -webkit-animation-delay: 3s;
    animation-delay: 3s
}
.c-anime-dl-scroll8 {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s
}
.c-anime-dl-9 {
    -webkit-animation-delay: 1.95s;
    animation-delay: 1.95s
}
.c-anime-dl-af9:after {
    -webkit-animation-delay: 1.55s;
    animation-delay: 1.55s
}
.c-anime-dl-border9 {
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s
}
.c-anime-dl-line1-bfaf9:before {
    -webkit-animation-delay: 2.7s;
    animation-delay: 2.7s
}
.c-anime-dl-line1-bfaf9:after {
    -webkit-animation-delay: 2.9s;
    animation-delay: 2.9s
}
.c-anime-dl-line2-bfaf9:before {
    -webkit-animation-delay: 3.1s;
    animation-delay: 3.1s
}
.c-anime-dl-line2-bfaf9:after {
    -webkit-animation-delay: 3.3s;
    animation-delay: 3.3s
}
.c-anime-dl-scroll9 {
    -webkit-animation-delay: 1.75s;
    animation-delay: 1.75s
}
.c-anime-dl-10 {
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s
}
.c-anime-dl-af10:after {
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s
}
.c-anime-dl-border10 {
    -webkit-animation-delay: 3.8s;
    animation-delay: 3.8s
}
.c-anime-dl-line1-bfaf10:before {
    -webkit-animation-delay: 3s;
    animation-delay: 3s
}
.c-anime-dl-line1-bfaf10:after {
    -webkit-animation-delay: 3.2s;
    animation-delay: 3.2s
}
.c-anime-dl-line2-bfaf10:before {
    -webkit-animation-delay: 3.4s;
    animation-delay: 3.4s
}
.c-anime-dl-line2-bfaf10:after {
    -webkit-animation-delay: 3.6s;
    animation-delay: 3.6s
}
.c-anime-dl-scroll10 {
    -webkit-animation-delay: 1.9s;
    animation-delay: 1.9s
}
#mainBanner {
    width: 1100px;
    position: relative;
    z-index: 99;
    margin: -323px auto 64px;
}
/*mainBanner
---------------------------*/

#mainBanner h2 {
    margin-bottom: 42px;
}
#mainBanner ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}
.banner {
    opacity: 0;
    transform: translate(0, 35px);
}
.banner.show {
    opacity: 1;
    transform: translate(0, 0px);
}
#mainBanner li {
    display: block;
    width: 220px;
    background: #ffffff;
    padding: 20px 20px 27px;
}
#mainBanner li:nth-child(1) {
    transition: .6s ease .2s;
}
#mainBanner li:nth-child(2) {
    transition: .6s ease .4s;
}
#mainBanner li:nth-child(3) {
    transition: .6s ease .6s;
}
#mainBanner li:nth-child(4) {
    transition: .6s ease .8s;
}
#mainBanner a {
    color: #000000;
    text-decoration: none;
}
#mainBanner ul li h3 {
    color: #868686;
    font-size: 15px;
    margin-bottom: 4px;
    letter-spacing: -1px;
}
#mainBanner ul li .logoBanner {
    min-height: 100px;
    margin-top: -24px;
}
/* MESSAGE
---------------------------*/

#messageWrap {
    background: url(../img/bg_message.png) left -48px center no-repeat;
    background-size: contain;
    position: relative;
}
#messageWrap:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #fda99b;
    opacity: .8;
}
#messageWrap.on:after {
    width: 0;
    animation: view-slideright 1.5s ease forwards;
}
#message {
    width: 1100px;
    padding: 50px 0 0;
    margin: 0 auto;
    position: relative;
    opacity: 0;
}
#messageWrap.on #message {
    opacity: 1;
    transition: 1s ease 1.2s;
}
#message h2,#message .h2 {
    text-align: center;
    position: absolute;
    /* top: -27px; */
    left: 0;
    right: 0;
}
#message p {
    line-height: 1.6;
    width: 640px;
    padding: 118px 0 109px;
}
#message p span {
    text-align: right;
    display: block;
    padding: 50px 0px 0 0;
    position: relative;
    left: 52px;
}
 #message .figure {
    padding-right: 2px;
    position: absolute;
    right: 58px;
    bottom: 0;
}
#message .btn_message {
    position: absolute;
    bottom: -7px;
    left: 0
}
/* recruit */

#recruitWrap {
    background: url(../img/bg_recruit.jpg);
    position: relative;
    z-index: 99;
}
.recruit {
    position: relative;
    padding: 60px 0;
}
.recruit .btn_recruit:after {
    content: '';
    background: url(../img/bg_recruit.png);
    width: 331px;
    height: 346px;
    position: absolute;
    left: -312px;
    top: 53px;
    z-index: 99;
}
.recruit .btn_recruit {
    width: 900px;
    margin: 0 auto;
    position: relative;
}
/* CONTENT
---------------------------*/

#content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 1100px;
    margin: 106px auto 103px;
}
#contentLeft {
    width: 280px;
}
#contentRight {
    width: 760px;
}
#info, #blog {}
#info {
    padding-bottom: 40px;
    position: relative;
}
#blog {
    position: relative;
    margin-bottom: 62px;
}
#blog>a {
    position: absolute;
    top: 120px;
    left: 0;
}
#info h2, #blog h2 {
    padding: 0px 0 15px;
    border-bottom: solid 2px #000000;
}
#info .btn_info {
    position: absolute;
    top: 0;
    right: 0;
}
#feed, #feed02 {
    line-height: 1.734;
    /* width: 476px; */
    max-height: 150px;
    overflow-y: hidden;
    margin: 27px 0;
}
#feed dl, #feed02 dl {
    padding-bottom: 14px;
    display: flex;
}
#feed dl dt {
    margin-right: 32px;
}
#feed dl:first-child, #feed02 dl:first-child {
    /* padding-top: 23px; */
}
#feed dl:last-child, #feed02 dl:last-child {
    padding-bottom: 0;
}
#feed02 dd a {
    color: #000000;
    text-decoration: none;
}
#feed02 dd a:hover {
    text-decoration: underline;
}
.mCSB_dragger_bar {
    width: 4px !important;
    background: #f51018 !important;
}
/* sns */

#snsArea {
    display: flex;
    justify-content: space-between;
}
#facebook {
    width: 280px;
    margin-bottom: 30px;
}
#topBnr {
    /* width: 280px; */
    margin-top: 23px;
}
#topBnr h2 {
    margin-bottom: 20px;
}
#topBnr ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#topBnr li {
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
}
#topBnr li img {
    width: 100%
}
#topBnr li:last-child {
    margin-bottom: 0;
}
/* calendar */

#calenderWrap {
    padding-bottom: 56px;
}
#calenderWrap h2 {
    padding-bottom: 14px;
}
#calender {
    font-size: 14px;
}
#listTab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#listTab li {
    line-height: 33px;
    text-align: center;
    width: 93px;
    background: #f7f4ef;
    cursor: pointer;
}
#listTab li.on {
    color: #fff;
    background: #7bacf5;
}
#calenderIn>.calendar {
    display: none;
}
#calenderIn>.calendar.on {
    display: block;
}
#calenderIn table thead tr th {
    color: #fff;
    line-height: 36px;
    vertical-align: middle;
    background: #7bacf5;
}
#calenderIn table tbody tr td {
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
}
#calenderIn table tbody tr td.close {
    color: #fff;
    background: #ff709b;
}
#calenderWrap>p {
    font-size: 14px;
    margin-top: 10px;
}
#commonBanner li {
    padding-bottom: 13px;
}
#commonBanner li:last-child {
    padding-bottom: 0;
}
