@media only screen and (max-width: 1024px) {

  #message,
  #mainBanner,
  .pageTitleIn h2 {
    width: 100%;
  }

  #message figure {
    position: static;
    text-align: center;
  }

  #wrapper>section {
    padding: 5px;
  }

  #message p {
    width: 100%;
  }

  #mainBanner ul {
    display: block;
  }

  #mainBanner ul li {
    width: 100%;
  }

  .pageTitleIn h2 {
    margin-bottom: 0px !important;
    padding-bottom: 0px;
  }

  #mainBanner li:nth-child(1),
  #mainBanner li:nth-child(2) {
    text-align: center;
  }

  #toggle {
    display: block;
    position: fixed;
    top: 25px;
    right: 10px;
    z-index: 10000;
  }

  #gNavi {
    width: 100%;
  }

  #gNavi li {
    width: 100%;
    display: block;

  }

  #gNavi li,
  #gNavi ul li a {
    color: #fff;
  }

  #headerLogo {
    left: 0;
  }

  #toggle img {
    width: 50px;
  }

  .nav_menu_on {
    display: none;
  }

  #headerWrap.active {
    background: #f7d5d5;
    height: 100% !important;
  }

  #gNavi {
    top: 0;
  }

  #gNavi {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    transform: translateY(-100%);
    transition: all .6s;
    opacity: 0;
  }

  #gNavi.active {
    transform: translateY(0%);
    opacity: 1;
  }

  #gNavi.active::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .8);
  }

  #myTopnav {
    position: relative;
    z-index: 10;
  }

  #gNavi li {
    left: 0 !important;
    background: #eb6e6e;
    padding: 10px;
    border-bottom: 1px solid #fff;
  }

  #headerWrap.fixed #gNavi {
    top: 0 !important
  }

  #informationWrap .info {
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
  }

  #informationWrap .info h2 {
    width: 100%;
  }

  #informationWrap,
  #youtubeWrap,
  #content,
  #contactWrap {
    width: 100%;

  }

  #informationWrap .info {
    max-height: 100%;
  }

  #mainBanner li {
    padding-left: 5px !important;
    padding-right: 5px !important;
    box-sizing: border-box;
  }

  .pageTitleIn h2,
  .pageTitleIn h2 span {
    font-size: 26px;
  }


  .h3_tit01 {
    font-size: 18px;
  }

  .inc-information__tax-list li {
    font-size: 14px;
  }

  .a_more {
    font-size: 18px;
    padding: 15px;
    margin-top: 15px;
  }

  #youtubeWrap ul li {
    height: 170px;
  }

  #youtubeWrap:before {
    width: 868px;
    height: 1498px;
    right: -583px;
  }

  .information__date_a {
    font-size: 16px;
  }

  #contact {
    text-align: center;
    padding-top: 25px;
  }

  #contactTel,
  #contactBtn {
    position: static;
  }

  #contact .img_contact {
    position: absolute;
    left: 5px;
    bottom: 0;
  }

  #contact .img_contact img {
    width: 110px;
  }

  #contactTel strong {
    font-size: 28px;
  }

  #contactTel span {
    padding: 0;
  }

  #contactBtn a {
    max-width: 195px;
  }

  #footer {
    width: 100%;
    flex-wrap: wrap;
  }

  #accessContent {
    width: 100%;
  }

  #accessContent h2,
  .accessText {
    text-align: center;
  }

  #copyright {
    text-align: center;
    margin: 15px 0;
  }

  #footerList {
    position: static;
  }

  #contactWrap {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  #message {
    padding-top: 0;
  }

  /* contact */
  .main-visual-sweets__title {
    font-size: 1.4rem;
  }

  .main-visual-sweets__title>span {
    font-size: 18px;
  }

  .main_section {
    padding: 0px !important;
  }

  .main-article .pageTitleIn h2 {
    width: 100%;
    font-size: 22px;
    padding: 0;
  }

  .pageTitleIn h2 span {
    font-size: 18px !important;
  }

  .div_boxMin01 {
    padding: 10px;
  }

  #mainContents {
    width: 100%;
  }

  .table_02 tbody th {
    padding: 5px;
    vertical-align: middle;
  }

  #sideContents {
    float: none;
    width: 100%;
  }

  #content {
    display: block;
  }

  .infox_3 #mainContents,
  .infox_3 #sideContents {
    float: none;
    width: 100%;
  }

  #content {
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 30px;
  }

  .infox_2#content {
    max-width: 100%;
    box-sizing: border-box;
  }

  #sideContents .tabControl li a {
    box-sizing: border-box;
  }

  #bnrCommon {
    margin-left: 0;
  }

  #footer ul li a {
    font-size: 12px;
  }

  .h3_tit01:after {
    height: 30px
  }

  #mainContents {
    float: none;
  }

  .required {
    margin-left: 0;
  }

  textarea {
    width: 100%;
  }
  #headerTop{
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
  }
  #headerList{
    text-align: center;
    display: block;
    width: 100%;
  }
  #header{
    width: 100%;
  }
  #headerContact a{
    display: inline-block;
  }
  #headerContact{
    text-align: center;
  }
  #headerTel{
    margin-right: 0px;
  }
  form .div_boxMin01{
    overflow: auto;
  }
  form .table_02.wFull{
    table-layout: fixed;
  }
  #headerTel strong {
      font-size: 23px;
  }
  .table_01 .w24per {
      width: 30%;
  }
  .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column > div{
    height: auto !important;
  }
  .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column > div iframe{
    width: 100%;
    height: auto;
  }
  .wp-block-group__inner-container > .wp-block-spacer{
    display: none;
  }
  #breadcrumbList {
      margin: 15px 15px 15px;
  }
  #headerLogo a img.off{
    max-width: 100%;
  }
  #headerTel span {
    margin-top: 0px;
    margin-bottom: 3px;
  }
  #headerTel {
      top: 2px;
  }
}